@{
    ViewData["Title"] = "Home Page";
    Layout = "_AdminLayout";
}
<div class="layadmin-tabsbody-item layui-show">
    <iframe src="/Admin/Home/Console" frameborder="0" class="layadmin-iframe"></iframe>
</div>