@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@model DolphinCloud.DataModel.System.Role.RoleModifyDataModel
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body" style="padding: 15px;">
            <form class="layui-form" method="post" lay-filter="role-formfilter">
                <div class="layui-form-item">
                    <label class="layui-form-label">角色名称</label>
                    <div class="layui-input-block">
                        <input type="text" asp-for="RoleName" id="roleName" lay-verify="required" autocomplete="off" placeholder="请输入角色名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">角色描述</label>
                    <div class="layui-input-block">
                        <textarea name="roleDescription" asp-for="RoleDescription" placeholder="请输入角色描述" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea name="remarks" asp-for="Remarks" placeholder="备注信息添加在这里" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-hide">
                    <input type="hidden" asp-for="RoleID" readonly />
                    <input type="button" lay-submit lay-filter="roleModifySubmitFilter" id="btnRoleModifySubmit" value="确认">
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.config({
        base: '@Url.Content("~/lib/layuiadmin/")' // 静态资源所在路径
    }).use(['form', 'layer'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        // 自定义验证规则
        form.verify({
            // 确认密码
            confirmPassword: function (value, item) {
                var passwordValue = $('#userPasswrod').val();
                if (value !== passwordValue) {
                    return '两次密码输入不一致';
                }
            }
        });
    });
</script>