@{
    ViewData["Title"] = "Home Page";
    Layout = "_MainLayout";
}
<div class="layadmin-tabsbody-item layui-show">
    <iframe src="@Url.Action("Console","Home")" frameborder="0" class="layadmin-iframe"></iframe>
</div>